body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("images/fuzzy sweater.JPG");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 200px;
}

.column4mem {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.column5mem {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.zoom {
  transition: transform 0.2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.typewriter {
  white-space: nowrap;
  overflow: hidden;
  font-size: 28px;
}

/* Animation */
.typewriter {
  animation: animated-text 3s steps(50, end) 1s 1 normal both;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 2300px;
  }
}

.navbar {
  font-size: larger;
}

#stage {
  margin: 1em auto;
  width: 382px;
  height: 292px;
}

#stage a {
  position: absolute;
}
#stage a img {
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
}

#stage a:nth-of-type(1) {
  animation-name: fader;
  animation-delay: 4s;
  animation-duration: 1s;
  z-index: 20;
}
#stage a:nth-of-type(2) {
  z-index: 10;
}
#stage a:nth-of-type(n + 3) {
  display: none;
}

@keyframes fader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column4mem {
  float: left;
  width: 25%;
}
/* columns side by side */
.column5mem {
  float: left;
  width: 20%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.fifty_column {
  float: left;
  width: 50%;
  padding: 10px;
  max-width: 100%;
  max-height: fit-content;
}

.fifty_column_r {
  float: right;
  width: 50%;
  padding: 10px;
  height: 300px;
}

.centered_stage {
  padding-right: 515px;
}